challenges/src/main/mule/challenges5.xml
<?xml version="1.0" encoding="UTF-8"?>

<mule xmlns:ee="http://www.mulesoft.org/schema/mule/ee/core" xmlns:http="http://www.mulesoft.org/schema/mule/http"
	xmlns="http://www.mulesoft.org/schema/mule/core"
	xmlns:doc="http://www.mulesoft.org/schema/mule/documentation" xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xsi:schemaLocation="http://www.mulesoft.org/schema/mule/core http://www.mulesoft.org/schema/mule/core/current/mule.xsd
http://www.mulesoft.org/schema/mule/http http://www.mulesoft.org/schema/mule/http/current/mule-http.xsd
http://www.mulesoft.org/schema/mule/ee/core http://www.mulesoft.org/schema/mule/ee/core/current/mule-ee.xsd">
	<http:listener-config name="HTTP_Listener_challenges5" doc:name="HTTP Listener config" doc:id="7d233e51-87c8-4988-8b74-8512d19248d4" >
		<http:listener-connection host="0.0.0.0" port="8085" />
	</http:listener-config>
	<flow name="challenge5Flow" doc:id="9a874852-adb9-446a-b1cf-e5a35d09dd56" >
		<http:listener doc:name="Listener" doc:id="baae53ad-4496-4911-9d44-4894f333f654" config-ref="HTTP_Listener_challenges5" path="/{value}">
			<http:response statusCode="#[vars.httpRespCode]" />
		</http:listener>
		<ee:transform doc:name="Transform Message" doc:id="950cff02-7b8d-4476-9029-5cc9fc26f10e">
			<ee:message>
				<ee:set-payload><![CDATA[
%dw 2.0 
output application/json
import isNumeric from dw::core::Strings
var inValue = attributes.uriParams.value
---

 if (isNumeric(inValue) and inValue > 0) (1 to inValue as Number) else "Invalid value"]]></ee:set-payload>
			</ee:message>
			<ee:variables >
				<ee:set-variable variableName="httpRespCode" ><![CDATA[%dw 2.0
output application/json
import isNumeric from dw::core::Strings
var inValue = attributes.uriParams.value
---

 if (isNumeric(inValue) and inValue > 0) (200) else 500]]></ee:set-variable>
			</ee:variables>
		</ee:transform>
	</flow>
</mule>
