challenges/src/main/mule/challenges2.xml
<?xml version="1.0" encoding="UTF-8"?>

<mule xmlns:ee="http://www.mulesoft.org/schema/mule/ee/core" xmlns:http="http://www.mulesoft.org/schema/mule/http"
	xmlns="http://www.mulesoft.org/schema/mule/core"
	xmlns:doc="http://www.mulesoft.org/schema/mule/documentation" xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xsi:schemaLocation="http://www.mulesoft.org/schema/mule/core http://www.mulesoft.org/schema/mule/core/current/mule.xsd
http://www.mulesoft.org/schema/mule/http http://www.mulesoft.org/schema/mule/http/current/mule-http.xsd
http://www.mulesoft.org/schema/mule/ee/core http://www.mulesoft.org/schema/mule/ee/core/current/mule-ee.xsd">
	<http:listener-config name="HTTP_Listener_challenge2" doc:name="HTTP Listener config" doc:id="ac6a1e36-d57a-488e-b690-23707cc9c18e" >
		<http:listener-connection host="0.0.0.0" port="8082" />
	</http:listener-config>
	<flow name="challengesFlow2" doc:id="7d349b20-29fa-448f-a8af-adec21392aa9" >
		<http:listener doc:name="Listener" doc:id="b38c1b83-a070-4075-a001-e35ad6cc5ccc" path="/publish" config-ref="HTTP_Listener_challenge2">
			<http:response statusCode="201" >
			</http:response>
		</http:listener>
		<logger level="INFO" doc:name="Logger" doc:id="08ec5584-41b4-44ee-9ab5-3013870be4a5" message="#[payload]"/>
		<ee:transform doc:name="Transform Message" doc:id="228d51da-46b5-40a5-8aee-3299ca2eaaec" >
			<ee:message >
				<ee:set-payload ><![CDATA[%dw 2.0
output application/json
import java!com::transform::ConvertPayload
---
{
	
	payload: ConvertPayload::toCamelCase(payload)
	
}]]></ee:set-payload>
			</ee:message>
		</ee:transform>
	</flow>
</mule>
